<form action="/favourite" method="post" class="inline-block">
    <input type="hidden" name="id" value="<%= home._id %>">

    <button
        type="submit"
        class="bg-green-500 text-white px-4 py-2 rounded-md font-semibold hover:bg-green-600 transition">
        Add to Fav
    </button>
</form>